
:root {
    --font-color: #000000;
    --border-color: #dfe1e5;
    --background-buttons: #f8f9fa;
    --color-font-buttons: #3c4043;
    --background-color-footer: #f2f2f2;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
}
header {
    width: 100%;
    height: 60px;
}
header nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
    margin-top: 10px;
}
header nav .nav-right_section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
header nav .nav-right_gmail:hover, 
.nav-right_images:hover {
    text-decoration:underline;
}
nav .nav-right_section a {
    margin-right: 10px;
    color: var(--font-color);
}
nav .nav-right_section .material-symbols-outlined {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
nav .nav-right_section img {
    border-radius: 50%;
    margin-left: 10px;
}
main {
    margin-top: 50px;
    text-align: center;
}
main .main-logo {
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.6rem;
    color: var(--font-color);
}
main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 18px;
    cursor: pointer;
    color: #9aa0a6;
}
main .main-input .micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 18px;
    cursor: pointer;
}
main .main-buttons {
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div {
    display: inline-block;
}
main .main-buttons button {
    height: 36px;
    background-color: var(--background-buttons);
    border: none;
    font-size: 1.4rem;
    color: var(--color-font-buttons);
    border-radius: 4px;
    padding: 0 15px;
    margin-right: 15px;
}
main .main-buttons button:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0, 0, 0 / 10%);
    color: var(--font-color);
    background-color: var(--background-buttons);
}
footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.3rem;
    background-color: var(--background-color-footer);
    border-top: 1px solid #e4e4e4;
}
footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left {
    justify-self: left;
}
footer .footer-right {
    justify-self: right;
}
footer ul li a {
    margin: 10px;
    color: var(--font-color);
}
footer ul li a:hover {
    text-decoration: underline;
}